.bio {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal; 
}
.aboutme-photo {
    max-height: 25rem;
    border-color: rgba(2, 2, 109, 0.856);
    border-style: solid;
    border-radius: 5%;
}