footer {
    background: rgb(62, 30, 83);
}

.footer {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.fa-icon {
    min-height: 100px;
}

.footer-note {
    margin: 10px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    opacity: 50%;
}


