.footer {
    background: linear-gradient(130deg, black 0%, rgb(148, 72, 199) 100%);
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.fa-icon {
    min-height: 100px;
}
